@default-text-color: #181D41;
@default-text-color-70:rgba(24, 29, 65, 0.7);
@default-text-color-50:rgba(24, 29, 65, 0.5);
@default-text-color-20:rgba(24, 29, 65, 0.2);
@white-text-color: #fff;
@white-text-color-70:rgba(255, 255, 255, 0.7);
@white-text-color-50:rgba(255, 255, 255, 0.5);
@white-text-color-20:rgba(255, 255, 255, 0.2);
@primary-color: #0066E0;
@success-color:#00A572;
@warning-color:#F98900;
@error-color:#E52D3E;
@007AFF:#007AFF;
@84B8F8:#84B8F8;
@F2F7FD:#F2F7FD;
@E52D3E:#E52D3E;
@FAD5D8:#FAD5D8;
@FDF4F5:#FDF4F5;
@F98900:#F98900;
@FEF9F2:#FEF9F2;
@CCEDE3:#CCEDE3;
@F0FBFA:#F0FBFA;
@CAD0E0:#CAD0E0;
@ECF0F5:#ECF0F5;
@F4F6F9:#F4F6F9;
@F3F7FD:#F3F7FD;
