@font-face {
  font-family: "OPPOSans-B"; /* Project id 3196969 */
  src: url('./OPPOSans-B.ttf') format('truetype');
}
@font-face {
  font-family: "OPPOSans-M"; /* Project id 3196969 */
  src: url('./OPPOSans-M.ttf') format('truetype');
}
